
<!-- <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
<!-- <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-messaging.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-storage.js"></script> -->

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDrv83fRdbIbRC5yYxBJKhCHACP-ld4UFI",
    authDomain: "app-5pani2pesci.firebaseapp.com",
    databaseURL: "https://app-5pani2pesci.firebaseio.com",
    projectId: "app-5pani2pesci",
    storageBucket: "app-5pani2pesci.appspot.com",
    messagingSenderId: "423190157517"
  };
  firebase.initializeApp(config);
  // var refRegistration = '/events/2017-11-paderno/people'
  // var refUnique       = '/events/2017-11-paderno/unique'
  var refEvent = '/events/2017-11-paderno'

</script>

<script type="text/javascript">
// Set page privacy via yaml page key
{% if include.private == true %}
var private = true
{% else %}
var private = false
{% endif %}
</script>

<script type="text/javascript">

function signOut() {
  firebase.auth().signOut()
}

function toggleSignIn() {
  var id = 'signin'
  var defaultBtnText = document.getElementById(id).innerText
  document.getElementById(id).innerText = '...'
  if (firebase.auth().currentUser) {
    firebase.auth().signOut()
   } else {
     setTimeout(function(){document.getElementById(id).innerText = defaultBtnText}, 1000)
     var email = document.getElementById('email').value
     var password = document.getElementById('password').value
     firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
       if (error.code === 'auth/wrong-password') {
         alert('Wrong password.')
       } else {
         alert(error.message)
       }
       console.log(error)
     })
   }
 }

function createNewUser() {
  var email    = document.getElementById('email').value
  var password = document.getElementById('password').value
  var passwordCheck = document.getElementById('passwordCheck').value
  if (password === passwordCheck && password !== '') {
    // console.log(email)
    // console.log(password)
    firebase.auth().createUserWithEmailAndPassword(email, password)
    .then((user) => {
      console.log(user.email)
      location.href = 'dashboard'
    })
    .catch((error) => {
      console.log(error)
      var errorCode = error.code
      var errorMessage = error.message
    })
  } else {
   console.log('the two passwords are different!')
  }
}


function loginPage(user) {
  // firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    // var displayName = user.displayName;
    var email = user.email;
    var uid = user.uid;
    document.getElementById('signin').textContent = 'Sign out'
    if (/login/.test(location.href)) location.href='dashboard'

  } else {
    console.log('Not logged')
    document.getElementById('signin').textContent = 'Sign in'
    // if (private) location.href = 'login'
  }
  // })
  document.getElementById('signin').addEventListener('click', toggleSignIn, false);
  document.getElementById('email').onkeydown = function(e){
     if(e.keyCode == 13) toggleSignIn()
  }
  document.getElementById('password').onkeydown = function(e){
     if(e.keyCode == 13) toggleSignIn()
  }
}

function newUser() {
  document.getElementById('newAccount').addEventListener('click', createNewUser, false)
}

function registerUser(user,ref) {
  // formAlert(name+" risulta essere già registrato")
  //
  var name = user.name
  var refUnique = firebase.database().ref(ref+'/unique')
  var refPeople = firebase.database().ref(ref+'/people')
  refUnique.orderByChild("name").equalTo(name).once('value', function(snapshot) {
    if (snapshot.val() === null) {
      // console.log('name is unique');
      refUnique.push({name: user.name})
      refPeople.push(user, function (error) {
        if (error) {
          console.log(error);
        } else {
          console.log('data saved correctly')
          location.href = 'completed'
        }
      })
    } else {
      // console.log('name failed!');
      formAlert(name+" risulta essere già registrato")
    }
  })
}


function registration() {
  document.getElementById('logout').style.visibility = "hidden";
  var alert = {show: false}
  document.getElementById('y-intollerances').addEventListener('click', function(){
    document.getElementById('y-radio').checked = true;
    document.getElementById('intolerance').disabled = false;
  }, false)
  document.getElementById('n-intollerances').addEventListener('click', function(){
    document.getElementById('n-radio').checked = true;
    document.getElementById('intolerance').disabled = true;
  }, false)

  document.getElementById('registration').addEventListener('click', function () {
    document.getElementById('registration').innerText = '...'
    setTimeout(function(){document.getElementById('registration').innerText = 'Invia'}, 1000)
    var name = capitalize(document.getElementById('name').value.trim())
    var email = document.getElementById('email').value.trim().toLowerCase()
    var city = capitalize(document.getElementById('city').value.trim())
    var mobile = document.getElementById('mobile').value.trim()
    var age = document.getElementById('age').value.trim()
    var intolerance = capitalize(document.getElementById('intolerance').value.trim())
    var user = {
      name: name,
      email: email,
      city: city,
      mobile: mobile,
      age: age,
      intolerance: intolerance
    }
    if (anyEmpty([name,email,city,mobile,age])) {
      formAlert('Tutti i campi sono obbligatori')
    } else if(!emailValidate(email)) {
      formAlert("L'email inserita non è corretta")
    } else {
      registerUser(user,refEvent)
    }
  }, false)
}

function dashPage(user) {
  document.getElementById('logout').addEventListener('click', signOut, false)
  if (user) {

    document.getElementById('dialog')
    // firebase.initializeApp(config)
    var db = firebase.database()
    // var dbRef = db.ref('/events/2017-02-sorrento/users')

    var dbRef = db.ref('/events/2017-11-paderno/people')
    // var people = document.getElementById('people')

    dbRef.on('child_added', (data) => {
      var div = document.createElement('div')
      // div.id = data.key
      div.innerHTML = template.eventPeople(data.val(),data.key)
      // console.log(data.key);
      people.appendChild(div)
      document.getElementById(data.key).addEventListener('click', function (){modifyUser(data.key,data.val())}, false)
    })



  } else {
    if (private) location.href = 'login'
  }
}

window.onload = function() {
  firebase.auth().onAuthStateChanged(function(user) {
    if (/login/.test(location.href)) {
      loginPage(user)
    } else if (/registration/.test(location.href)) {
      registration()
    } else if (/completed/.test(location.href)) {

    } else if (/new/.test(location.href)) {
      newUser()
    } else {
      dashPage(user)
    }
  })
}
</script>

<!-- utilities -->
<script src="{{ site.baseurl }}/assets/js/utils.js"></script>

<!-- templates -->
<script src="{{ site.baseurl }}/assets/js/templates.js"></script>

<!-- dialogs -->
<script src="{{ site.baseurl }}/assets/js/dialogs.js"></script>
