
$color-concrete: #95a5a6;
$color-silver: #bdc3c7;
$color-cloud: #ecf0f1;
$color-midnight: #2c3e50;
$color-river: #3498db;
$color-belize: #2980b9;   // green
$color-alizarin: #e74c3c;    // red
$color-pomegranate: #c0392b; // dark red

$color-alert: $color-alizarin;



.color-alert {
  color: $color-alert !important;
}

.white {
  background: white !important;
}

$header-height: 120px;

img.top {
  width: 200px;
  height: auto;
  float: left;
  padding-left: 2rem;
}

#logout.top {
  padding-right: 2rem;
  font-size: 2rem;
  float: right;
  line-height: $header-height;
}

header {
  margin: 0;
  padding: 0;
  height: $header-height;
}

header.main.top {
  // background: $color-pomegranate;
  background: $color-alizarin;
  box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.centered.box {
  margin: 0 auto;
  // background: red;
}

#editUser {
  display: none;
}

.opacity.page {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.dialog {
  // max-height: calc(100vh - 100px);
  // overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 80%;
  width: 80%;
  max-width: 600px;
  max-height: 100%;
  // height: 100%;
  // height: 1000px;
  // background: yellow;
  z-index: 1001;
  // max-height: 100%;
  // overflow-y: auto;
  // overflow-y: scroll;
}

.dialog.content {
  h2 {
    padding-bottom: 2rem;
  }
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
  background: white;
  // // max-width: $max-width/2;
  // // margin: 0 auto;
  padding: 2rem;
  // margin: 0 2rem;
  overflow: auto;
}

.page-content {
  max-width: $max-width;
  padding: 2rem 2rem;
  margin: 0 auto;
  background-color: white;
  color: $color-concrete;
}

.separator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid $color-cloud;
}
.entry {
  // padding: 0 0 1rem 0;
  // margin-bottom: 1rem;
}

.entry-title {
  color: $color-midnight;
  // font-variant: small-caps;
  text-transform: uppercase;
  font-size: 1.0rem;
  padding-bottom: 0.2rem;
}

.entry-details {
  padding: 0.1rem 1rem;
  padding-right: 1rem;
}

.text-inline-block {
  display: inline-block;
  padding-left: 0.2rem;
}

.text-very-small {
  font-size: 0.4rem;
}

.edit-action {
  float: right;
  color: $color-cloud;
}
.space-tab {
  padding: 0 0.2rem;
}

input {
  margin-bottom: 0.6rem;
  width: 100%;
}

input.medium {
  display: block;
  max-width: 200px;
}

input.small {
  max-width: 100px;
}



.form {
  margin: 0 auto;
  max-width: 400px;
}

.text.small {
  font-size: 1rem;
}

.input-btn {
  margin-right: 0.4rem;
  font-size: 1rem;
  width: 5rem;
  padding: 0.6rem;
  color: white;
  background: $color-river;
  border-radius:6px;
  display:inline-block;
  cursor:pointer;
  border:none;
  text-decoration: none;
  outline: none;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.input-btn:hover {
  background: $color-belize;
}
.input-btn:active {
  transform: translateY(1px);
}

.input-btn.white {
  color: $color-cloud;
  background-color: white;
  border: 2px solid $color-cloud;
}

#alert {
  text-align: left;
  color: $color-alert;
  margin-top: 1rem;
}
input.alert::-webkit-input-placeholder {
   color: red;
}

// input[type="text"] {
input {
  color: $color-midnight;
}

input[type="text"]:disabled {
  background: $color-cloud;
  // background: white;
}

// input[type="text"]::placeholder {
input::placeholder {
  color: $color-silver;
}

input[type="text"]:disabled::placeholder {
  color: $color-silver;
}

$radio-size: 12px;
$radio-border: 3px;
$radio-color: $color-silver;
$radio-color-selected: $color-silver;

ul {
  margin-bottom: 1rem;
}
ul li{
  // color: $radio-color;
  // display: inline-block;
  display: block;
  position: relative;
  // float: left;
  width: 100%;
  // height: 50px;
  margin-bottom: 0.4rem;
	// border-bottom: 1px solid #333;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  // display: inline-block;
  display: block;
  position: relative;
  // font-weight: 300;
  // font-size: 1.35em;
  // padding: 0px 25px 25px 80px;
  padding: 0px 0px 0px 40px;
  margin: 0px auto;
  // height: 100px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

// ul li:hover label{
	// color: #FFFFFF;
// }

ul li input {
  margin-top: 0.4rem;
}

ul li .check{
  display: block;
  position: absolute;
  border: $radio-border solid $radio-color;
  border-radius: 100%;
  height: $radio-size;
  width: $radio-size;
  top: 4px;
  left: 0px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check {
  // border: 5px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: $radio-size/1.5;
  width: $radio-size/1.5;
  top: 2px;
	left: 2px;
  // margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: $radio-border solid $radio-color-selected;
}

input[type=radio]:checked ~ .check::before{
  background: $radio-color-selected;
}

input[type=radio]:checked ~ label{
  // color: $radio-color-selected;
}
