<!DOCTYPE html>
<html lang="it">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <title>{{page.title}}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{site.baseurl}}{{site.logo}}">

  <!-- CSS  -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/reset.css" media="all">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/basscss.min.css" media="all">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/colors.css" media="all">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" media="all">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/test.css" media="all">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,800,300italic' rel='stylesheet' type='text/css'>

</head>

<body>

  {{content}}

  </body>
</html>
